@import "../../styles/mixins_and_placeholders";
@import "../../styles/variables";

.Carousel {
  margin-top: 10px;
  height: clamp(200px, calc(480 / 1400 * 100vw), 480px);
  border-radius: 10px;


  .carousel_img {
    display: block;
    width: 100%;
    object-fit: cover;

  }

}